.container{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100% !important;
    height: 40dvh;
    overflow-y: auto;
}

.activeBids {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center !important;
    justify-content: space-between;
    height: 50px;
}