.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.generate {
  display: flex;
  gap: 10px;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px dashed #7d243458;
  border-radius: 25px;
  width: 100%;
  height: 33dvh;
  overflow-y: auto;
  color: #7d2435;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 35px !important;
  width: 150px !important;
  border-radius: 10%px !important;
  border-bottom: 3px solid #b4acacb2 !important;
  font-size: small !important;
  font-weight: 600 !important;
  background-color: #ffffff25 !important;
  color: #7d2435 !important;
  transition: background-color 0.3s, color 0.3s, border 0.3s !important;
}

.panelButton:hover,
.button:hover {
  background-color: #a71c1cc5 !important;
  color: #ffffff !important;
  border-bottom: 3px #ffffff00 !important;
}

.buttonIcon {
  width: 22px;
  height: 20px;
}
