.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100dvh - 112px);
    border: 3px solid #f0f0f080;
    background-color: #ffffff;
    margin-bottom: 100px;
}

/* Left side of the dashboard */
.sandwich {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    border-right: 3px solid #f0f0f080;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: #f0f0f0f0; */
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.avatar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 3px solid #f0f0f080;
    width: 200px;
    gap: 5px;
}

.avatar > p {
    font-size: 1rem;
    font-weight: 600;
    color: #7d2435;
}

.avatar > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.avatar > img:hover {
    cursor: pointer;
    
}

.avatarEmail {
    font-size: 0.8rem !important;
}

.preferences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

/* *************************** */
/* Right side of the dashboard */
/* *************************** */
.panel {
    width: 80%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    color: #7d2435;
    gap: 20px;
}

.panelButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 35px !important;
    width: 220px !important;
    border-radius: 10%px !important;
    border-bottom: 3px solid #7d24342a !important;
    font-size: small !important;
    font-weight: 600 !important;
    background-color: #ffffff3d !important;
    color: #7d2435 !important;
    transition: background-color 0.3s, color 0.3s, border 0.3s !important;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 95%;
    height: 50%;
    padding: 2%;
    border-bottom: 3px solid #f0f0f080;
    background-color: #f0f0f0bb;
    border-radius: 15px;
}

.greet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 15px;
}

.wallet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 10px;
    padding: 10px 25px;
    /* border: 2px solid #a18585d7; */
    width: 30%;
    border-radius: 15px;
    box-shadow:  11px 11px 31px #d0d0d0,
        -11px -11px 31px #f0f0f0;
}

.wallet > h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #7d2435;
}

.walletBalance {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.walletBalance #total {
    font-size: 1.5rem;
    font-weight: 600;
}

.walletBalance #total > div {
    font-size: 1.2rem;
    font-weight: 300;
}

.walletBalance #available {
    font-size: 0.8rem;
    font-weight: 500;
}

.walletBalance > p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wallet > Button {
    width: 100%;
}


/* ****** */
/* Bottom */
/* ****** */

.bottom {
    display: flex;
    flex: row;
    width: 95%;
    height: 40%;
    justify-content: space-between;
    font-size: small;
    font-weight: 500;
}

.bottom > div {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.bottomLeft {
    background-color: #f0f0f0bb;
    border-bottom: 3px solid #f0f0f080;
    align-items: center;
    justify-content: space-evenly;
    height: 94%;
    width: 60%;
    padding-bottom: 15px;
    overflow-y: scroll;
}

.bottomLeft > h1 {
    font-size: 0.9rem;
    font-weight: 600;
    color: #7d2435;
    align-self: flex-start;
    padding-left: 15px;
    position: sticky;
    top: 0;
    padding-top: 10px;
    background-color: #f0f0f0;
    border-bottom: 3px solid #f0f0f080;
    width: 100%;
}

.bottomLeft > h1 > span {
    font-size: 0.65rem;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 10px;
}

.bottomLeft > .auctionTable {
    width: 95%;
    text-align: left;
    border-bottom: 1px solid #7d243463;
}

.bottomLeft > table > thead {
    font-weight: 600;
    color: #ffffffaa;
    background-color: #7d2435;
}

.bottomLeft > table > tbody > tr {
    transition: background-color 0.3s;
    cursor: pointer;
}

.bottomLeft > table > tbody > tr:hover {
    background-color: #7d243533;
    /* color: #ffffffcc; */
}

.bottomRight {
    gap: 5px;
    width: 38%;
}

.bottomRightRating {
    height: 30%;
    background-color: #f0f0f0bb;
    border-radius: 15px;
    border-bottom: 3px solid #f0f0f080;
    align-content: center;
    justify-items: center;
    padding: 10px;
}

.bottomRightBids {
    height: calc(64% - 5px);
    background-color: #f0f0f0bb;
    border-radius: 15px;
    border-bottom: 3px solid #f0f0f080;
    align-content: center;
    justify-items: center;
    padding: 10px;
}



/* ******* */
/* Buttons */
/* ******* */
.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 35px !important;
    width: 250px !important;
    border-radius: 10%px !important;
    border-bottom: 3px solid #f0f0f0b2 !important;
    font-size: small !important;
    font-weight: 600 !important;
    background-color: #ffffff3d !important;
    color: #7d2435 !important;
    transition: background-color 0.3s, color 0.3s, border 0.3s !important;
}

.panelButton:hover,
.button:hover {
    background-color: #a71c1cc5 !important;
    color: #ffffff !important;
    border-bottom: 3px #ffffff00 !important;
}

.buttonIcon {
    width: 22px;
    height: 20px;
}
