@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  tab-size: 4;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth; 
}


/* .formatter {
  width: 87%;
  margin: 0 auto;
} */

.formatter {
  width: 100%;
  max-width: 1433px;
  margin: 0 auto;
  padding: 0 16px; 
  overflow-x: hidden; 
}

.format {
  min-width: 100%; 
  overflow-x: hidden; 
  white-space: nowrap;
}

@media screen and (max-width: 1324px) {
  .format {
    min-width: 900px; 
    overflow-x: auto; 
    overflow-y: hidden; 
  }
}

@media (min-width: 759px) and (max-width: 1023px) {
  .icon-container {
    background-color: #f2f0f1; 
    padding: 10px;
    border-radius: 12px;
  }
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.format::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.format {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}



.active {
  background-color: #9f3247;
  color: white;
  padding: 2px 8px;
  border-radius: 20px;
}

/* For the whole page */
::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f0f0f080; 
  border-radius: 15px; 
}

/* Thumb (scrollable part) */
::-webkit-scrollbar-thumb {
  background: #9f3247; 
  border-radius: 15px; 
  border: 3px solid #f0f0f0; 
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #9f324780; 
}

html {
  scroll-behavior: smooth;
}


/* Resp breaskpoints */

  .mobile {
    width: 390px;
  }



  


/* External Styling */
/* .state-area {
  width: 648px;
} */


.FaLinkedin {
  transition: transform 0.2s ease;
}
.FaLinkedin:hover {
  transform: scale(1.2);
}

:root {
    --toastify-color-info: #9f3247;
    --toastify-icon-color-info: var(--toastify-color-info);
}

.Toastify__toast-icon {
  display: none;
}