@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
}
.formatter {
  width: 87%;
  margin: 0 auto;
}
.active {
  background-color: #9f3247;
  color: white;
  padding: 2px 8px;
  border-radius: 20px;
}

/* Resp breaskpoints */

  .mobile {
    width: 390px;
  }
